@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*logo do site*/
#imglogo{
  display: block;
  margin-left: auto;
  margin-rigt: auto;
  width: 6em

}

/*margens*/
body {
margin-left: 10%;
margin-right: 10%;
padding:0;
text-align:center;
}



/*barra de navegação*/
* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    width: 100%;
    height: 52px;
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    list-style: none;
    position: relative;
}

#menu-h ul li {
  width: 150px;
  float: left;
}

#menu-h a {
    background-color: rgb(37, 37, 39);
    color: #FFF;
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    transition: background .4s;
}

#menu-h a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul ul{
  position: absolute;
  visibility: hidden;
}

#menu-h ul li:hover ul{
  visibility: visible;
}

#menu-h ul ul li{
  float: none;
}

/*botão de menu*/

label[for="bt-menu"]{
  padding: 5px;
  background-color: rgb(37, 37, 39);
  color: #FFF;
  font-family: 'Open Sans', 'sans-serif';
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 52px;
  height: 52px
}

/*esconder botão de menu em telas grandes*/

#bt-menu{
  display: none;
  position: left;
}

label[for="bt-menu"]{
  display: none;
}



/*comportamento dos itens do menu em telas de até 600px*/

@media (max-width: 600px) {

  body{
    margin-left: 1px;
    margin-right: 1px;
    text-align: left;
  }

  #bt-menu:checked ~ #menu-h{
    margin-left: 0;
  }

  label[for="bt-menu"]{
    display: inline;
  }

  #menu-h{
    margin-left: -105%;
    transition: all .4s;
  }

  #menu-h ul li{
    width: 100%;
    float: none;    
  }

  #menu-h ul ul{
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all .4s; 
  }

  #menu-h ul li:hover ul{
    height: auto;
    max-height: 200px;
  }

}